$fontRaleway : Raleway, Arial, sans-sarif;
$fontOpenSans : 'Open Sans', Arial, sans-sarif;
$topStripGray : #bfbfb6;
$navbarColor : #efeeea;
$socialHoverColor : #014f99;
$topNavHoverColor : #c1a259;
$slideHeadingColor : #004d9b;
$slideCardBorderColor : #efeeea;
$slideParagrafColor : #4b4b4b;
$welcomeTextColor : #004b9b;
$bottomIconsColor : #777876;